li a {
  font-family: 'Arimo';
  font-weight: 500;
  line-height: 1.1;
  color: green;
}
h1 {
  font-family: 'Anton';
  font-size: 100;
  line-height: 1.1;
  color: green;
}

body {
  background-color: #fff;
}